.parent{
    -fx-background-color:transparent;
}
.pane{
    -fx-background-color:#f78c7b;
    -fx-background-image:url("../image/background.jpg");
    -fx-background-size:cover;
}

.pane2{
    -fx-background-color:#f78c7b;
}


.trans-btn-white-border{
    -fx-background-color:transparent;
    -fx-background-radius:5px;
    -fx-border-color:white;
    -fx-border-radius:10px;
    -fx-border-width:2px;
    -fx-text-fill:white;
}

.searchh{
    -fx-border-radius: 20px;
    -fx-border-width:2px;
    -fx-background-color:white;
    -fx-border-color: #fca5a5;
}

.searchhh{
    -fx-border-width:2px;
    -fx-background-color:white;
    -fx-border-color: #fca5a5;
}

.trans-btn-white-border:hover{
    -fx-background-color:#fca5a5;
    -fx-background-radius:10px;
}

.trans-btn-white-border:pressed{
    -fx-background-color:#F78C7B;
    -fx-background-radius:10px;
}

.white-pane{
    -fx-background-color:#FFFFFF;
}

.white-pane-signIn{
    -fx-background-image:url("../image/60242.jpg");
    -fx-background-size:cover;
}

.white-pane-forget{
    -fx-background-image:url("../image/11599.jpg");
    -fx-background-size:cover;
}

.white-pane-signUp{
    -fx-background-image:url("../image/backforgetLeft.jpg");
    -fx-background-size:cover;
}




.white-pane-background{
    -fx-background-color:#FFFFFF;
    -fx-background-image:url("../image/background.jpeg");
    -fx-background-size:cover;
}

.tf-box{
    -fx-background-color:transparent;
    -fx-border-color:#DEDEE4;
    -fx-border-width:0px 0px 1px 0px;
}

.tf-box:pressed{
    -fx-background-color:transparent;
    -fx-border-color:#F78C7B;
    -fx-border-width:0px 0px 1px 0px;
}



.tf{
    -fx-background-color:transparent;
    
}
.tf:focused{
    -fx-background-color:transparent;
    -fx-border-color: #fca5a5;
    -fx-border-width:0px 0px 0px 3px;
    
    
}
.tf-ping{
    -fx-background-color:transparent;
    -fx-text-fill:#F78C7B;
}



.pink1-btn{
    -fx-background-color:#F78C7B;
    -fx-background-radius:10px;
    -fx-text-fill:#FFFFFF;
}

.pink1-btn:hover{
    -fx-background-color:#fca5a5;
    -fx-background-radius:10px;
}
.pink1-btn:pressed{
    -fx-background-color:#F78C7B;
    -fx-background-radius:10px;
}

.pink-btn{
    -fx-background-color:#F78C7B;
    -fx-background-radius:10px;
    -fx-text-fill:#FFFFFF;
}

.pink-btn:hover{
    -fx-background-color:#fca5a5;
    -fx-background-radius:10px;
}
.pink-btn:pressed{
    -fx-background-color:#d46d6d;
    -fx-background-radius:10px;
}
.pink-btn:focused{
    -fx-background-color:#d46d6d;
    -fx-border-color: #fca5a5;
    -fx-border-width:1px 1px 1px 5px;
    -fx-border-radius:10px;
}

.wh-btn{
    -fx-background-color:white;
    -fx-background-radius:10px;
    -fx-text-fill:#F78C7B;
}

.white-btn{
    -fx-background-color:transparent;
    -fx-background-radius:10px;
    -fx-text-fill:white;
}

.table-view .column-header,
.table-view .column-header-background .filter {
    -fx-cell-size: 25;
    -fx-background-color:#fca5a5;
    -fx-alignment:center;
}

.table-view .column-header .label {
    -fx-text-fill:white;
    -fx-font-weight:bold;
    -fx-alignment:CENTER_LEFT;
    -fx-alignment:center;
}

.table-view .cell {
    -fx-cell-size:30;
    -fx-alignment:center-left;
    -fx-text-fill:#000000;
    -fx-alignment:center;
    
}

.table-row-cell:selected {
    -fx-background-color: rgb(127 , 172 , 243);
}

.table-row-cell:selected .text{
    -fx-fill : white;
}
